<!--Projects section v.2-->

<section class="section" *ngIf="isList">
  <i class="far fa-arrow-alt-circle-left" (click)="navigateBack()"></i>

  <!--Section heading-->
  <h2 class="font-weight-bold h1 py-5 text-center">
    <strong>ТЕЗИ НАШИХ КОНФЕРЕНЦІЙ</strong>
  </h2>
  <!--Section description-->
  <p class="grey-text pb-5 text-center mx-xl-5 px-xl-5">Duis aute irure dolor in reprehenderit in voluptate
    velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <div class="list-group">
    <ng-container *ngFor="let tezis of tezisList">
      <a class="list-group-item list-group-item-action flex-column align-items-start mt-3 mb-3"
         (click)="onNavigateTezisView(tezis)">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-2 h5">{{tezis.docName}}</h5>
          <small>{{tezis.lastName}}</small>
        </div>
        <small>місце навчання: {{tezis.studyPlace}}</small>
        <small>курс: {{tezis.course}}</small>
      </a>
    </ng-container>
  </div>
</section>
<app-tezis-view *ngIf="!isList" [tezisInfo]="selectedTezis" (navigateBack)="listShow()"></app-tezis-view>
<!--/Projects section v.2-->
