<i class="far fa-arrow-alt-circle-left fa-lg" (click)="navigateBack()"></i>

<div class="conference-view" *ngIf="!regist && conferenceInstance">
  <h1>{{conferenceInstance.name}}</h1>
  <img *ngIf="conferenceInstance.image" [src]="conferenceInstance.image[0]">
  <h3>{{conferenceInstance.title1}}</h3>
  <div>{{conferenceInstance.dataStart}} - {{conferenceInstance.dataEnd}}</div>
  <div>{{conferenceInstance.description}}</div>
  <div fxLayout="row" fxLayoutAlign="center">
    <button mdbBtn type="button" color="indigo" mdbWavesEffect (click)="onRegistration()">REGISTRATION</button>
    <button mdbBtn type="button" color="indigo" mdbWavesEffect (click)="onTezu()">ТЕЗИ КОНФЕРЕНЦІЇ</button>
  </div>
  <app-doc-viewer [stringSrc]="conferenceInstance.defaultDocument"></app-doc-viewer>
  <div class="napryam-conference col-md-4">
    <h4>НАПРЯМИ РОБОТИ КОНФЕРЕНЦІЇ</h4>
    <ul>
      <li *ngFor="let vector of conferenceInstance.workVectors">
        {{vector}}
      </li>
    </ul>
  </div>

</div>
  <div>
</div>
<div *ngIf="regist" class="registration-form">
  <app-conference-registration-form
    class="col-md-9"
    [file]="file"
    (registrationFormSubmit)="registrationSubmit($event, conferenceInstance._id)"
    (fileUp)="fileUploading($event)"
  ></app-conference-registration-form>
</div>
