<!--Section: Blog v.4-->
<section class="my-5">

  <!--Grid row-->
  <div class="row">
    <div class="col-md-12">
      <!--Featured image-->
      <mdb-card>
        <div class="overlay waves-light w-50 h-50 ml-auto mr-auto rounded" mdbWavesEffect>
          <mdb-card-img src="../../assets/kafedrra photo.jpeg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Post data-->
        <mdb-card-body cascade="true" class="text-center">
          <h2>
            <a class="font-weight-bold">Кафедра інформаційних систем в економіці</a>
          </h2>
          <p>Місією кафедри інформаційних систем в економіці є підготовка висококваліфікованих фахівців із розроблення, впровадження й супроводу інформаційних систем і технологій оброблення інформації, систем прийняття рішень, а також програмних комплексів управління складними соціо-економічними системами на основі інструментів та засобів штучного інтелекту. В основу концепції підготовки фахівців на кафедрі покладена система, що заснована на раціональному поєднанні поглибленої фундаментальної підготовки в галузі комп’ютерних наук, економічної кібернетики та практичного досвіду роботи на провідних підприємствах і організаціях ІТ-сфери.
          </p>

          <p>Кафедра інформаційних систем  в економіці є однією з найстарших в Інституті інформаційних технологій в економіці, має багату історію та визначні наукові традиції, водночас здійснює підготовку фахівців за найновітнішими освітніми напрямами відповідно до потреб професій майбутнього (детальніше).

            Кафедра інформаційних систем готує фахівців зі спеціальності – «КОМП’ЮТЕРНІ НАУКИ» на першому (бакалаврському) та другому (магістерському) рівнях.  Програма навчання побудована відповідно до вимог Міністерства освіти та науки України та наближена до міжнародних освітніх стандартів, зокрема ACM/IEEE-CS ComputerScienceCurricula 2013 (CS2013).

            Спеціальність «КОМП’ЮТЕРНІ НАУКИ» призначена для підготовки високопрофесійних IT-фахівців із актуальними знаннями у сфері розробки, впровадження і супроводу інформаційних систем та технологій,  інтелектуальних систем оброблення інформації, систем штучного інтелекту і систем підтримки прийняття рішень в економіці, менеджменті та бізнесі, а також в інших сферах діяльності.
          </p>
        </mdb-card-body>
        <!--Post data-->
      </mdb-card>
    </div>
  </div>
  <!--Grid row-->
  <hr class="mb-5 mt-4">
</section>
<!--Section: Blog v.4-->
