<p>doc-viewer works!</p>
<!--<ngx-doc-viewer [googleCheckContentLoaded]="true" [googleCheckInterval]="3000"-->
<!--                url="https://docs.google.com/gview?url=https://conference-kneu.herokuapp.com/files/0d41cf9e732859bf384cc41288331fa6file.doc&embedded=true"-->
<!--                viewerType="google" style="width:100%;height:50vh;"></ngx-doc-viewer>-->

<iframe
  src="https://docs.google.com/gview?url=https://conference-kneu.herokuapp.com/files/0d41cf9e732859bf384cc41288331fa6file.doc&embedded=true"></iframe>
